<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arms">

    <xacro:macro name="arm_visual" params="orientation">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 ${orientation}" />
            <box
                size="${front_wheel_steering_link_xz} ${front_wheel_steering_link_y} ${front_wheel_steering_link_xz}" />
            <material name=" grey">
                <color rgba=" 0.6 0.6 0.6 1" />
            </material>
        </visual>
    </xacro:macro>

    <xacro:macro name="front_left_arm_visual">
        <xacro:arm_visual orientation="${M_PI}" />
    </xacro:macro>

    <xacro:macro name="front_right_arm_visual">
        <xacro:arm_visual orientation="0" />
    </xacro:macro>

</robot>