<?xml version='1.0' encoding='utf-8'?>
<robot name="alpo_slim" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="mode" default="simulation" />
  <xacro:arg name="controller_conf_yaml_file" default=""/>

  <xacro:include filename="$(find alpo_description)/urdf/alpo.xacro" />
  <xacro:alpo model="slim" mode="$(arg mode)" prefix="$(arg prefix)"/>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
           <parameters>$(arg controller_conf_yaml_file)</parameters>
    </plugin>
  </gazebo>

</robot>
