<?xml version='1.0' encoding='utf-8'?>
<robot name="alpo_fat" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="alpo_" />
  <xacro:arg name="mode" default="simulation" />
  <xacro:arg name="base_name" default="base" />
  <xacro:arg name="ros2_control_config_urdf_file" default="" />
  <xacro:arg name="controller_manager_config_yaml_file" default="" />
  <xacro:arg name="ros_prefix" default="/alpo/" />

  <xacro:include filename="$(find alpo_description)/urdf/alpo.xacro" />
  <xacro:alpo model="fat" mode="$(arg mode)" prefix="$(arg prefix)" />

  <xacro:include filename="$(find alpo_description)/urdf/alpo.simulation.xacro" />

  <xacro:alpo_simulation
    mode="$(arg mode)"
    base_name="$(arg base_name)"
    ros_prefix="$(arg ros_prefix)"
    ros2_control_config_urdf_file="$(arg ros2_control_config_urdf_file)"
    controller_manager_config_yaml_file="$(arg controller_manager_config_yaml_file)" />

</robot>